.header {
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.header__container {
    align-items: center;
    color: #fff;
    flex-wrap: wrap;
    font-family: "Almendra SC", serif;
    justify-content: space-between;
    max-width: 1266px;
    padding-top: 1.3rem;
    transition: 0.3s ease-in-out;
    width: 80%;

    .header__logo { font-size: 4rem; }

    .header__menu-itens {
        flex-wrap: wrap;
        font-size: 1.8rem;
        gap: 2.2rem;
        list-style: none;

        .header__item {
            padding: 12px;
            position: relative;
            transition: 1s;

            &::before {
                background-color: #fff;
                top: 0;
                content: "";
                height: 2px;
                left: 0;
                position: absolute;
                transition: 1s;
                width: 0;
                height: 100%;
                z-index: -1;
            }

            &:hover::before { width: 100%; }

            & a { transition: 1s; }

            &:hover a { color: #000; }
        }
    }

    .header__menu--toggle { display: none; }
}

@media screen and (max-width: 950px) {
    .header__container { width: 95%; }
}

@media screen and (max-width: 790px) {
    .header__container {
        .header__menu .header__menu-itens {
            align-items: center;
            background-color: #000;
            flex-direction: column;
            height: calc(100vh - 96.8px);
            justify-content: center;
            left: 0;
            position: absolute;
            text-align: center;
            top: 96.8px;
            transform: translateX(100%);
            width: 100%;
        }

        .header__menu .header__menu-itens.open {
            transform: translateX(0);
            transition: all 0.2s;

            .header__item { width: 100%; }
        }

        .header__menu--toggle { display: block; }
    }
}
